!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title semrolê~
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/navbar-fixed-top.css')
  body
    block body