!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title sem rolê ?
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/normalize.css')

  body
    block body